.navbar {
  background-color: #D2CDFD;
}

#nav-head,
h1 {
  font-family: "Kaushan Script", cursive;
  color: slategray;
  text-align: center;
}

#brand-statement {
  visibility: hidden;
}

#about-me {
  background-color: #CEDAFB;
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #3e8e41;
  color: white;
}

#nav-bar {
  background-color: #ffe6ff;
  border-bottom: slategray, 5%;
}

.nav-link,
h5,
h3 {
  font-family: "Cormorant", serif;
  text-align: center;
}

body {
  background-size: 100%;
  background-color: #FACDEE;
}

#coding-quiz,
#password-generator,
#weather-dashboard, #track-finder-img, #covid-img, #eat-da-burgers {
  /* padding: 20px; */
  height: 100%;
  width: 100%;
}

h4 {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  padding: 20px;
  color: slategrey;
  font-size: 30px;
}

p, ul{
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 20px;
}

.row {
  padding: 20px;
  margin: 10px:
}

.container-fluid, #form-container {
  background-color: #E6E8F5;
  border-radius: 15px;
  margin: 20px;
  width: 95%
}

footer{
  text-align: center;
  background-color: #cbe8fe;
  border-radius: 8px;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  font-family: "Kaushan Script", cursive;
}

#biopic {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  float: left;
}

img {
  border-radius: 20px;
}

#submit-form-button{
  background-color: #CEDAFB;
  color: black;
  font-family: "Kaushan Script", cursive;
}

.form-control{
  font-family: "Kaushan Script", cursive;
}

#philosophy, #passion, #competitive{
background-color: #DECDFD;
margin: 20px;
align-items: center;
border-radius: 8px;
}
